<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign in</title>

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Popins', sans-serif;
        }

        body {
            display: flex;
            height: 100vh;
            justify-content: center;
            align-items: center;
            background: linear-gradient(135deg, #004445, #6fb98f);
        }

    </style>

</head>
<body>

<div class="container"
     style="max-width: 700px;
                width: 100%;
                background: #fff;
                padding: 25px 30px;
                border-radius: 5px;">

    <div class="title"
         style="font-size: 25px;
         font-weight: 500;
         position: relative;">Sign in

        <form class="form-signin" method="post" action="/login">
            <div class="user-details"
                 style="flex-wrap: wrap;
                    margin: 20px 0 12px 0;">

                <div class="input-box"
                     style="display: block;
                     font-weight: 500;
                     margin-bottom: 15px;
                     width: calc(100% / 2 - 20px)">

                    <span clas="details" for="username" class="sr-only"
                          style="height: 45px;
                           width: 100%;
                            font-size: 18px">
                        Email address</span >

                    <input type="text" id="username" name="username" class="form-control" required
                           placeholder="Email address"
                           style="height: 45px;
                           width: 100%;
                           outline: none;
                           border-radius: 5px;
                           border: 1px solid #ccc;
                           padding-left: 15px;
                           font-size: 16px;">

                </div>

                <div class="input-box"
                     style="display: block;
                     font-weight: 500;
                     margin-bottom: 15px;
                     width: calc(100% / 2 - 20px)">

                    <label for="password" class="sr-only"
                           style="height: 45px;
                           width: 100%;
                           font-size: 18px">
                        Password</label >

                    <input type="password" id="password" name="password" class="form-control"
                           required placeholder="Enter your password"
                           style="height: 45px;
                           width: 100%;
                           outline: none;
                           border-radius: 5px;
                           border: 1px solid #ccc;
                           padding-left: 15px;
                           font-size: 16px;">

                </div>

                <div class="button"
                     style="height: 45px;
                     width: 100%;
                     margin: 45px 0;">

                    <input type="submit" value="Sign in"
                           style="height: 100%;
                           width: 100%;
                           outline: none;
                           color: #fff;
                           border: none;
                           font-size: 18px;
                           font-weight: 500;
                           border-radius: 5px;
                           letter-spacing: 1px;
                           background: linear-gradient(135deg, #6fb98f, #004445);">
                </div>
            </div>
            <div style="text-align: center;
                        font-size: 23px">
                <p>New to site? <a
                        style="cursor: pointer;
                         color: blue" method="post" href="/api/v1/registration">
                    Create account.</a></p>
            </div>
        </form>
    </div>
</div>

<!--<div class="container"
     style="width: 800px; height: 500px; padding: 40px 0; position: relative">


    <div class="block"
         style="height: 100%; background-color: rgba(255, 255, 255, 0.2);
         box-shadow: 0 5px 45px rgba(0, 0, 0, 0.2);
         display: flex; align-items: center">

        <section class="block_item block-item"
                 style="text-align: center; width: 50%">
            <h2 class="block-item_title" style="font-size: 1.2rem; font-weight: 500; color: #fff;
                    margin-bottom: 10px;">Do you have account?</h2>
            <button class="block-item_btn"
                    style="border: none; cursor: pointer; padding: 10px 20px; background-color: #fff; color: #333;
                    font-size: 16px; font-weight: 500">Sign in
            </button>
        </section>

        <section class="block_item block-item" style="text-align: center;">
            <h2 class="block-item_title" style="font-size: 1.2rem; font-weight: 500; color: #fff;
                    margin-bottom: 10px;">Create new account </h2>
            <button class="block_item_btn"
                    style="border: none; cursor: pointer; padding: 10px 20px; background-color: #fff; color: #333;
                    font-size: 16px; font-weight: 500">
                Sign up
            </button>
        </section>
    </div>

    <div class="form-box"
         style="background-color: #fff; height: 100%; width: 50%; box-shadow: 0 5px 45px rgba(0, 0, 0, 0.25);
          position: absolute; top: 0; left: 0; z-index: 1000;"></div>-->

<!--<form class="form-signin" method="post" action="/login">
    <h2 class="form-signin-heading">Sign in</h2>
    <div class="alert alert-success" role="alert">You have been signed out</div>
    <p>
        <label for="username" class="sr-only">Username</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Username" required=""
               autofocus="">
    </p>
    <p>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password"
               required="">
    </p>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>-->

</body>
</html>